html, body {
  font-size: 14px;
}

body {
  background: #000;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Open Sans;
  font-weight: bold;
  line-height: 1.2;
  color: #222222;
  text-rendering: optimizeLegibility;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
}
h1 a:hover, h1 a:active, h1 a:focus, h2 a:hover, h2 a:active, h2 a:focus, h3 a:hover, h3 a:active, h3 a:focus, h4 a:hover, h4 a:active, h4 a:focus, h5 a:hover, h5 a:active, h5 a:focus, h6 a:hover, h6 a:active, h6 a:focus {
  color: #ed1f24;
}


h2, .h2 {
  font-size: 2rem;
}



a:hover, a:active, a:focus {
  text-decoration: none;
}

.demo {
  text-align: center;
  width: 1100px;
  margin-top: 100px;
}
.demo:before, .demo:after {
  content: " ";
  display: table;
}
.demo:after {
  clear: both;
}

.demo .preview {
  display: block;
  height: 670px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}
.demo .preview > img {
  left: 0;
  position: absolute;
  -webkit-transition: all 60s linear 0s;
  -moz-transition: all 60s linear 0s;
  -ms-transition: all 60s linear 0s;
  transition: all 60s linear 0s;
  top: 0;
  width: 100%;
}
.demo .preview:hover > img, .demo .preview:active > img, .demo .preview:focus > img {
  top: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.demo h3 {
  font-family: Open Sans, arial, sans-serif;
  font-size: 1.286rem;
  font-weight: normal;
  letter-spacing: 1px;
  margin-top: 25px;
  text-transform: uppercase;
}

.copyright {
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: 1px;
}

.rating-stars {
  width: 150px;
}

@media (max-width: 767px) {
  .demo {
    margin-bottom: 40px;
  }
  .demo .preview {
    height: 400px;
  }
}
