*, html{margin: 0;padding: 0;box-sizing: border-box; border: none; outline: none;}
a{text-decoration: none; color: #000;}

:root{
	--red: #ff0000;
	--white: #ffffff;
	--black: #000000;

	--red-one: #CB356B;
	--red-two: #d17065;

	--green-one: #56ab2f;
	--green-two: #ace06b;

	--black-one: #232526;
	--black-two: #70767b;

	--blue-one: #001a76;
	--blue-two: #2186ec;

	--silver: #bdc3c7;
}

.bg-red   { background-color: var(--red);}
.bg-white {	background-color: var(--white);}
.bg-black {	background-color: var(--black);}
.bg-blue  {	background-color: var(--blue-one);}
.bg-green {	background-color: var(--green-one);}