*, html, *::before, *::after {
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

li { list-style: none; }
a { text-decoration: none; }

a, img, span, table, tbody, button, ion-icon { display: block; }
button, input {
  font: inherit;
  background: none;
  /* border: none;
  테두리가 생기면 활성화시킨다. */
}

input { width: 100%; }
button { cursor: pointer; }
address {
  font-style: normal;
  line-height: 1.8;
}

html {
  font-family: var(--ff-josefin-sans);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  font-size: 1.6rem;
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: hsl(0, 0%, 95%); }
::-webkit-scrollbar-thumb { background: hsl(0, 0%, 80%); }
::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }