@media (max-width:1000px) {
    header{
        margin: 0 auto; padding: 0px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    .hero .banner .container{
        flex-direction: column;
    }

}