.contents{width: 100%; }
.wrapper{padding: 20px 0 0 0; }
.topimg{position: relative;}
.topimg img{  width: 100%; object-fit: cover;}



.contents-section1{
  width: 80%;
  
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  margin-bottom: 20px;
}

.s1-img1{
  width: 80%;
  height: 400px;
  background-image: url(../images/image-asset.jpeg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;


}
.s1-img2{
  width: 80%;
  height: 400px;
  background-image: url(../images/wl_lower.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;

}
.s1-img3{
  width: 80%;
  height: 400px;
  background-image: url(../images/ele_trailer.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;

}


/* ********************************************************* */
.contents-section2{
width: 80%;
height: 400px;
background-image: url(../images/wl_home2.jpg);
background-position: left;
background-repeat: no-repeat;
background-size: cover;
margin: 0 auto;
position: relative;
}

.contents-section2 img{
  width: 60%;
position: absolute;
top: 50px;
right: 0;

}
/* ********************************************************* */
.contents-section3{
  width: 80%;
  height: 400px;
  
  position: relative;
  display: flex;
  margin: 20px auto;

  
  
  flex: 100%;
}

.s3-left{
flex: 30%;
}

.s3-bg1{
  width: 100%;
  height: 200px;
  background-image: url(../images/sub1.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  border-right: 5px solid #fff;
  
}

.s3-bg2{
  width: 100%;
  height: 200px;
  background-image: url(../images/sub2.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  border-right: 5px solid #fff;
  border-top: 5px solid #fff;
}

.s3-right{
  flex: 70%;
  width: 100%;
  height: 400px;
  background-image: url(../images/sub3.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
/* ************************************************ */
.contents-section4{
  width: 80%;
  height: 360px;
  background-image: url(../images/light.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px auto;
  
  position: relative;
  }
  
  .contents-section4 img{
  width: 42%;
  position: absolute;
  top: -120px;
  left: 0;  
  z-index: 10;
  }
  /* ********************************************************* */
  