ul, ol{ list-style: none;}

/* ***************** */
svg{
    width: 25px;
}
body{
    background: #000;
    color: #fff;
}

header{
    width: 1920px;
    max-width: 70%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

header .logo{ width: 200px; filter: brightness(2.4);}
header .logo img{ width: 100%; object-fit: cover; }

header .menu{display: flex;
    justify-content: center;
    gap: 20px;
}

header .menu a{
    color: wheat;
    font-size: 18px;
}

/* css slider */

.slider{
    position: relative;
    height: 100vh;
    margin-top: 0px; /* 필요하면 위로 올료 -50 */
}

.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
}

.slider .list .item img{
width: 100%;
height: 100%;
object-fit: cover;
}

.slider .list .item::after{
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient( to left, #2c6eb8c2 20%, transparent 55%);
    position: absolute;
    bottom: 0;
    left: 0;
}

.slider .list .item .content{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}

.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}

.slider .list .item .content h2{
    font-size: 80px;
    margin: 0;
}

.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s ease-in-out 1 forwards;
}

.slider .list .item.active h2{ animation-delay: 1s;}
.slider .list .item.active p:nth-child(3){ animation-delay: 1.4s;}

@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
/* *************** */

.arrows{
    position: relative;
    top: 35%;
    right: 50px;
    z-index: 100;
}
.arrows button{
width: 48px;
height: 48px;
border-radius: 10px;
font-size: x-large;
color: #000000;
background-color: #eee5;
transition: 0.5s;

}
.arrows button:hover{
background: #8b0000;
color: #c5c800;
}

#prev{
    position: absolute;
    left: 120px;
}
#next{
    position: absolute;
    right: 50px;
}

/* ************* */
.thumbnail{
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    z-index: 20;
    display: flex;
    justify-content: center;
    gap: 10px;
    overflow: auto;
}
.thumbnail::-webkit-scrollbar{ width: 0;}
.thumbnail .item{
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .item  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1.2);
}
.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
}

@media (max-width:678px) {
    .thumbnail{ justify-content: start;}
    .slider .list .item .content h2{ font-size: 60px;}
    .arrows{ top: 10%;}
}

.content p{
    color: #67acff;
    font-size: 20px;
    font-weight: 600;
}

.content h2{
    color: rgba(255, 53, 53, 0.737);
    text-shadow: 4px 4px 2px rgba(127, 124, 101, 0.477);
}