  /* 햄버거 메뉴 버튼 */
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .hamburger .line {
    width: 25px;
    height: 3px;
    background-color: rgb(0, 100, 70);
    border-radius: 20px;
    transition: all 0.3s ease;
  }
  
  /* 반응형 디자인 */
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      right: 0;
      background-color: #071611;
      width: 200px;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }
  
    .nav-links.active {
      display: flex;
    }
  
    nav ul li {
      margin: 10px 0;
    }
  
    .hamburger {
      display: flex;
    }
  }
  
  /* 열렸을 때 햄버거 아이콘 애니메이션 */
  .hamburger.active .line:nth-child(1) {
    transform:translateY(8px) rotate(45deg) ;
  }
  
  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .line:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg) ;
  }
  
  