/* 오버레이 */
#overlay {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 999;
}

/* 팝업 */
#popup {
  display: none;
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  z-index: 1000;
  width: 90%;
  max-width: 400px;
  text-align: center;
}
#popup h2{
}
#popup p{
  padding: 10px;
}
#popup-image {
  width: 90%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

#popup button {
  background-color: #00704a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#popup button:hover {
  background-color: #005e3a;
}